:root {
  --ink-font-size-h1: 72px;
  --ink-font-line-height-h1: 72px;

  --ink-font-size-h2: 32px;
  --ink-font-line-height-h2: 36px;

  --ink-font-size-h3: 24px;
  --ink-font-line-height-h3: 28px;

  --ink-font-size-h4: 20px;
  --ink-font-line-height-h4: 24px;

  --ink-font-size-body-1: 18px;
  --ink-font-line-height-body-1: 24px;

  --ink-font-size-body-2: 16px;
  --ink-font-line-height-body-2: 20px;

  --ink-font-size-body-3: 14px;
  --ink-font-line-height-body-3: 18px;

  --ink-font-size-caption: 12px;
  --ink-font-line-height-caption: 16px;

  --ink-font-size-caption-2: 11px;
  --ink-font-line-height-caption-2: 16px;
}
