@import url("./styles/borders.css") layer(ink-kit);
@import url("./styles/typography.css") layer(ink-kit);
@import url("./styles/resets.css") layer(ink-preflight);
@import url("./styles/shadow.css") layer(ink-kit);
@import url("./styles/spacing.css") layer(ink-kit);
@import url("./styles/font.css") layer(ink-kit);

@import url("./styles/theme/colors.dark.css") layer(ink-kit);
@import url("./styles/theme/colors.light.css") layer(ink-kit);

@tailwind base;
@tailwind components;
@tailwind utilities;
