:root,
:root.ink-dark-theme {
  /* Background */
  --ink-background-dark: rgb(22, 15, 31);
  --ink-background-light: rgb(33, 26, 41);
  --ink-background-container: rgba(255, 255, 255, 0.06);

  /* Button */
  --ink-button-primary: rgb(113, 50, 245);

  /* Text */
  --ink-text-default: rgb(255, 255, 255);
  --ink-text-on-primary: rgba(255, 255, 255, 1);
  --ink-text-on-secondary: rgba(138, 97, 255, 1);

  /* Status */
  --ink-status-success: rgb(61, 166, 103);
  --ink-status-alert: rgb(231, 149, 74);
  --ink-status-error: rgb(236, 109, 109);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Background */
    --ink-background-dark: rgb(22, 15, 31);
    --ink-background-light: rgb(33, 26, 41);
    --ink-background-container: rgba(255, 255, 255, 0.06);

    /* Button */
    --ink-button-primary: rgb(113, 50, 245);

    /* Text */
    --ink-text-default: rgb(255, 255, 255);
    --ink-text-on-primary: rgba(255, 255, 255, 1);
    --ink-text-on-secondary: rgba(138, 97, 255, 1);

    /* Status */
    --ink-status-success: rgb(61, 166, 103);
    --ink-status-alert: rgb(231, 149, 74);
    --ink-status-error: rgb(236, 109, 109);
  }
}
