:root,
:root.ink\:light-theme {
  /* Background */
  --ink-background-dark: rgb(240, 239, 255);
  --ink-background-light: rgb(255, 255, 255);

  /* Button */
  --ink-button-primary: rgb(113, 50, 245);

  /* Text */
  --ink-text-default: rgb(22, 15, 31);
  --ink-text-on-primary: rgb(255, 255, 255);
  --ink-text-on-secondary: rgb(113, 50, 245);

  /* Status */
  --ink-status-success: rgb(61, 166, 103);
  --ink-status-alert: rgb(231, 149, 74);
  --ink-status-error: rgb(236, 109, 109);
}
